body {
    margin: 0;
    width: 100vw;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.canvas {
    height: 60vh;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.button {
    margin: 10px;
    font-size: 30px;
    padding: 30px;
}